:root {
    --darker: #6f1f05;
    --dark: #9F4B2F;
    --dark_off: #9f4b2f22;
    --light: #D29177;
    --lighter: #ffe5ddb0;
    --white: #ffffff;
}

a {
    text-decoration: none;
}

* {
    margin: 0px;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/* --------------------------------nav bar------------------------------------  */


#nav-bar {
    border: 5px var(--dark_off) solid;
    border-radius: 0px 0px 20px 20px;
    background-color: var(--lighter);
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 20px 50px 10px;
    box-sizing: border-box;
}

#nav-bar > ul {
    padding-left: 0px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-bar > ul > li {
    font-weight: 500;
    margin: 5px;
    list-style: none;
}

#nav-bar > ul > li > a {
    color: var(--darker);
}

/* --------------------------------------------------nav bar end--------------------------------------  */

/* --------------------------------------------- Home Sec -------------------------------------------- */

#home {
    height: 100vh;
    background-image: url('https://res.cloudinary.com/ayush-pr0/image/upload/v1690878978/background_ofo2kn.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
}
#recipe-home {
    height: 100vh;
    background-image: url('https://res.cloudinary.com/ayush-pr0/image/upload/v1691740843/Food_and_Restaurant_Presentation_vyuxdp.png');
    background-size: cover;
    background-position: center;
    display: flex;
}

#home-content {
    width: 50%;
    padding: 12% 5%;
    align-items: center;
    box-sizing: border-box;
}

#home-content > img {
    height: 80px;
}

h1 {
    font-size: 3rem;
    letter-spacing: 6px;
    color: var(--dark);
}

#home-content > h1 {
    padding: 50px 0px 10px;
}

#home-content > h3 {
    padding-bottom: 160px;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 4px;
}

#home-content > h4 {
    font-weight: 500;
    color: var(--light);
}

/* ------------------------------------------- Home Sec end ----------------------------------------- */

/* ------------------------------------------- Restaurant Sec ----------------------------------------- */

 #feature {
    background-image: url('https://res.cloudinary.com/ayush-pr0/image/upload/v1690878972/restaurant-bg_l5vhrc.png');
    background-size: cover;
    background-position: center;
    padding: 40px 80px;
    box-sizing: border-box;
 }

 #feature > h1 {
    margin: 50px 0px 30px;
 }

 #feature-nav > input {
    border-radius: 5px;
    font-size: 1rem;
    padding: 6px 10px;
    margin: 0px 20px;
    background-color: var(--lighter);
 }

 #feature-nav > button {
    cursor: pointer;
    font-size: 1rem;
    padding: 6px 10px;
    margin-right: 50px;
    color: var(--dark);
 }

 #feature-nav > select {
    padding: 6px;
    font-size: 1rem;
    color: var(--dark);
 }

#feature-cards {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: 30px 0px;
}

.card {
    cursor: pointer;
    width: 300px;
    height: 300px;
    margin: 30px 17px;
    background-color: var(--lighter);
    border-radius: 20px;
    border: 3px transparent solid;
}

.card:hover {
    border: 3px var(--dark) solid;
}

.card > img {
    /* width: 100%; */
    width: 300px;
    height: 200px;
    object-fit: cover;      /* Cover object*/
    border-radius: 20px 20px 0px 0px;
}


.card-content {
    padding: 10px;
}

.card-content > h4 {
    color: var(--darker);
    margin-bottom: 5px;
}

.card-content > h5 {
    color: var(--dark);
    font-weight: 500;
}

.card-content > h6 {
    color: var(--light);
    margin-top: 8px;
}

/* -------------------shimmer----------------- */
.shimmer-card {
    cursor: pointer;
    width: 300px;
    height: 300px;
    margin: 30px 19px;
    background-color: var(--lighter);
    border-radius: 20px;
}

.shimmer-image {
    width: 300px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    background-color: var(--dark_off);
}

.shimmer-content {
    padding: 10px;
}

.shimmer-title {
    background-color: var(--dark_off);
    width: 240px;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.shimmer-subtitle {
    background-color: var(--dark_off);
    width: 220px;
    height: 30px;
    border-radius: 15px;
}


.shimmer-microtitle {
    background-color: var(--dark_off);
    width: 100px;
    height: 16px;
    border-radius: 8px;
    margin-top: 8px;
}

/* -------------------shimmer end----------------- */


/* ---------------------------------------- Restaurant Sec end-------------------------------------- */

/* --------------------------------------- Footer --------------------------------------------- */

footer {
    height: 100vh;
    background-image: url('https://res.cloudinary.com/ayush-pr0/image/upload/v1690878978/footer_mr2zi3.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    
}

#footer-content {
    /* background-color: var(--light); */
    display: flex;
    height: 50%;
    align-items: center;
}

#footer-content > h1 {
    padding: 0px 80px;
    margin: 30px;
    width: 30%;
}

#footer-content > ul > li {
    padding: 10px;
    font-size: 1.2rem;
    color: var(--light);
}


/* For - About, Contact, Error */
.place-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px;
}